{{#if changedFoundUsersSearch}}
    <div>
        <ul>
        {{#each changedFoundUsersSearch}}
        {{{changedFoundUsersSearch}}}
        {{/each}}
        </ul>
        {{else}}
    <div></div>
</div>

{{/if}}
