@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.context-menu {
    background: $third-bg-color;
    box-shadow: $main-box-shadow;
    border-radius: 5px;
    text-decoration: none;
    position: absolute;
    z-index: 2;
    transform: scale(0);
    transform-origin: top left;

    &.visible {
        transform: scale(1);
        transition: transform 200ms ease-in-out;

    }

    &__item {
        @include text($font-family, 14px, 17px, 400, $main-font-color);
        cursor: pointer;
        list-style-type: none;
        padding: 10px;

        &:hover {
            background: $selection-color;
        }

        &:last-child {
            @include text($font-family, 14px, 17px, 400, $danger-color);
        }
    }
}
