{{> pageTitlePartial pageTitleContext}}
<form class="form">
    {{#each inputs }}
    {{> inputPartial inputContext}}
    {{/each}}
</form>
{{> formButtonPartial formButtonContext}}
{{#if link}}
<a class="link" href={{url}}>{{linkText}}</a>
{{/if}}