@import "./variables.scss";
@import "./mixins.scss";

body {
  font-family: $font-family;
  background: $main-bg-color;
}

.page {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
