//FONT-FAMILY
$font-family: "Inter", sans-serif;

//BACKGROUND COLOR
$main-bg-color: #dfdfdf;
$secondary-bg-color: #ffffff;
$third-bg-color: #d9d9d9;
$selection-color: #8e8585;
$button-color: #000000;
$bg-opacity: rgba(0, 0, 0, 0.5);

//FONT COLOR
$main-font-color: #000000;
$secondary-font-color: #696969;
$third-font-color: #ffffff;
$danger-color: #ff736a;

//OPACITY
$main-opacity: 0.8;
$secondary-opacity: 0.5;

//BORDER
$input-border: 1px solid #000000;
$input-border-focus: 2px solid #000000;
