@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.profile-avatar-container {
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;

    &::after {
      position: absolute;
      content: "";
      background: url("../../images/avatarpen.svg") no-repeat 50%;
      background-color: $bg-opacity;
      background-size: 26px 26px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      transition: opacity 0.2s ease;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &:hover::after {
      opacity: 0.8;
    }
}
