@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.sidebar {
  background-color: $chats-bg-color;
  min-width: 360px;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: content-box;
  position: relative;

  .chats-list {
    width: 308px;
    overflow: visible;
    padding-top: 10px;
  }

  &__header {
    height: 67px;
    padding-right: 32px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.chat-img {
  width: 45px;
  height: 45px;
  border: 0;
  border-radius: 50%;
  border-color: transparent;
  object-fit: cover;
  background-color: $third-bg-color;
}

.chat-img-default {
  display: inline;
  width: 45px;
  height: 45px;
  border: 0;
  border-radius: 50%;
  border-color: transparent;
  object-fit: cover;
  background-color: $third-bg-color;
  background-image: url("../../images/defaultUserAvatar.svg");
}
