@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.chat-img {
  width: 45px;
  height: 45px;
  border: 0;
  border-radius: 50%;
  border-color: transparent;
  object-fit: cover;
  background-color: $third-bg-color;
}
