<section class="chats-page">
  <div class="sidebar">
    <button class="settings-button">Settings</button>
    {{> inputSearchPartial inputSearchContext}}
    {{> chatsListPartial}}
  </div>

  {{#if isChatSelected}}
    <div class="selected-chat">Чат выбран</div>
  {{else}}
    <div class="not-selected-chat">select a chat to send a message</div>
  {{/if}}
</section>