@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.chats-page {
  height: 100vh;
  display: flex;

  .not-selected-chat {
    border-left: $border;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $third-bg-color;

    @include text($font-family, 14px, 17px, 400, $main-font-color);
  }
}
