<section class="chats-page">
  {{> sidebarPartial}}

  {{#if isChatSelected}}
    {{> chatPagePartial chatPageContext}}
  {{else}}
    <div class="not-selected-chat">select a chat to send a message</div>
  {{/if}}
</section>