<section class="chat-page">
  <div class="chat-page__header">
    {{{chatAvatar}}}
    <div class="chat-name-wrapper">
      {{{chatName}}}
    </div>
    <button class="chat-page__kebab-menu"></button>
  </div>
  <ul class="messages-list">
    <li class="message-item-left">{{messageContent}}</li>
    <li class="message-item-right"><img
        class="message-item-img"
        src={{urlImg}}
        alt="message photo"
      />
    </li>
  </ul>
  <form class="message-form">
    <button class="message-form__clip"></button>
    <textarea
      name="message"
      class="message-form__textarea"
      type="text"
      placeholder="Write a message..."
      rows="1"
    ></textarea>
    <button class="message-form__submit-button" type="submit"></button>
  </form>
</section>