@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.context-menu__item {
  @include text($font-family, 14px, 17px, 400, $main-font-color);

  cursor: pointer;
  list-style-type: none;
  padding: 10px;

  &:hover {
    background: $selection-color;
  }

  &:last-child {
    @include text($font-family, 14px, 17px, 400, $danger-color);
  }
}
