@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.form-button {
  width: 360px;
  height: 45px;
  text-align: center;
  border-radius: 5px;
  background: $button-color;
  cursor: pointer;
  margin-top: 40px;
  @include text($font-family, 14px, 17px, 400, $third-font-color);

  &:hover {
    opacity: $main-opacity;
  }
}
